html {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}
img {
    height: 500px;
}
.container {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
    text-align: center;
}
.row {
    display: flex;
}
.col-12 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
}
